/* sdfoing;jksodfngj */

.main{
    background-color: aqua;
    margin-top: 10px;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    text-align: center;
}

.inp{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0px;
    
}

.btn{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0px;

}

p{
    background-color: azure;
    margin-left: 0px;

    margin-top: 10px;
}